.navigation {
    position: absolute;
    width: 286px;
    height: 775px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
    border-radius: 2px;

    div.logoName {

        .logo {
            position: absolute;
            left: 7%;
            top: 4%;
        }

        .educationType {
            position: absolute;
            left: 19%;
            top: 4.5%;
            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 20px;
            text-transform: uppercase;
            color: #259609;
        }
    }

    .mobileNav {
        display: none;
    }

    .separatorTop {
        position: absolute;
        width: 90%;
        left: 5%;
        top: 10%;
        border: 0.5px solid #ECECEC;
    }

    .navList {
        position: absolute;
            width: 80%;
            left: 10%;
            top: 14%;
            font-family: Helvetica;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #3E3E3E;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;

            li {
                padding: 0 0 20px;
                cursor: pointer;

                span.selectedNavList {
                    color: #259609;
                }

                img {
                    position: absolute;
                    right: 0;
                }

                ul {
                    width: 100%;
                    height: auto;
                    font-family: Helvetica;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    
                    li {
                        padding: 10px;
                       /* height: 26px; */
                        cursor: pointer;
                    }

                    .selectedli {
                        background: rgb(217, 237, 213,);
                        border-radius: 3px;
                        color: #259609;
                    }

                    .hide {
                        display: none;
                    }

                    li:hover {
                        background: #F2F2F2;
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    .separatorBottom {
        position: absolute;
        width: 90%;
        left: 5%;
        bottom: 12%;
        border: 0.5px solid #ECECEC;
    }

    .moreProgrammes {
        width: 85%;
        height: 44px;
        position: absolute;
        left: 7.5%;
        /* right: 15px; */
        bottom: 3.5%;
        border: 1px solid #d9edd5;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;

        .button {
            position: absolute;
            left: 15%;
            top: 34.09%;
            bottom: 27.27%;
            font-family: Helvetica;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #259609;
        }
    }
}

@media ( max-width: 1220px) {
    .navigation {
        position: static;
        margin: 0 auto;
        width: 80%;
        height: auto;

        div.logoName {
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            padding: 20px;
            
            .logo {
                position: static;
            }
        
            .educationType {
                position: static;
            }
        }

        .mobileNav {
            display: block;
        }
    
        .separatorTop {
            position: static;
            display: none;
        }
    
        .navList {
            width: 100%;
            position: static;
            margin: 0 auto;
            text-align: center;
    
            ul {
    
                li {
    
                    img {
                        position: static;
                        margin-left: 20px;
                    }
                }
            }
        }
    
        .separatorBottom {
            position: static;
            display: none;
        }
    
        .moreProgrammes {
            position: static;
            display: none;
    
            .button {
                position: static;
            }
        }
    }
}

@media ( max-width: 800px) {
  
}