.App {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.first {
  width: 20%;
  background: grey;
  text-align: center;
  border: 1px solid;
}

.second {
  width: 70%;
  background: grey;
  text-align: center;
  border: 1px solid;
}

.third {
  width: 20%;
  border: 1px solid;
  position: relative;
}

.fourth {
  width: 70%;
  border: 1px solid;
}

.window {
  height: 400px;
}

.canvas {
  width: 100%;
  height: 100%;
}

.square {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 100px;
  height: 100px;
  background: yellow;
}
.circle {
  position: absolute;
  left: 30px;
  top: 160px;
  width: 100px;
  height: 100px;
  background: aqua;
  border-radius: 50%;
}