.courses {
    width: 75%;
    height: 100%;
    padding-left: 286px;
    margin-left: 14.22px;
}

@media (max-width: 1220px) {
    .courses {
        width: 80%;
        height: 100%;
        padding: 15px;
        margin: 0 auto;
    }
}