.container {
  position: relative;
  height: 1088px;
  background: #F7F7F7;
  max-width: 1440px;
  margin: 0 auto;

  .title {
    position: absolute;
    width: 234px;
    height: 46px;
    left: calc(50% - 234px/2 - 481.22px);
    top: 60px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 46px;
    color: #3E3E3E;
  }

  .main {
    position: absolute;
    max-width: 1250px;
    height: 830px;
    left: calc(50% - 234px/2 - 481.22px);
    top: 136px;
  }
}

@media ( max-width: 1220px) {
  .container {
    height: 1600px;
  
    .title {
      position: static;
      margin: 0 auto;
      padding: 15px 0;
    }
  
    .main {
      position: static;
    }
  }
}

@media ( max-width: 800px) {
  .container {
    height: 2900px;
  }
}